.summary {
  text-align: center;
  width: 100%;
  margin-top: 70px;
  position: relative;
  height: 200px;
  padding: 1rem;
  background-color: rgb(129, 129, 129);
  color: white;
}

.summary h2 {
  font-size: 6rem;
  margin-top: 20px;
}
